{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="WnL">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="/static/images/tray.png" class="d-block w-100" alt="tray">
        <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="/static/images/outside.png" class="d-block w-100" alt="out">
        <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>





    <div class="container">


        <div class="row">
            <div class="col">
            <h1 class="text-center mt-4">Welcome to Mo's Hotel!</h1>
                <p>
                    Welcome to our charming Airbnb, located in the heart of vibrant Los Angeles! Nestled in a peaceful neighborhood, our home offers a perfect blend of comfort and convenience, allowing you to fully enjoy everything the City of Angels has to offer. With its modern design and cozy atmosphere, our property is an ideal choice for both leisure and business travelers looking for a memorable stay in this bustling metropolis.
                </p>
                <p>
                    Step inside our stylishly decorated home, featuring a spacious living area, fully-equipped kitchen, and luxurious bedrooms designed to provide a restful retreat after a long day exploring LA's iconic attractions. Each room boasts carefully selected furnishings and amenities that ensure a comfortable and relaxing experience for our guests. Whether you're sipping your morning coffee on the private patio or unwinding with your favorite movie, our Airbnb is the perfect home away from home.
                </p>
                    Situated in a prime location, our Airbnb grants you easy access to some of Los Angeles' most popular destinations, including Hollywood, Universal Studios, and the famous Santa Monica Pier. Additionally, you'll find an array of trendy restaurants, boutique shops, and cultural hotspots within walking distance. Our dedicated host team is always on hand to provide personalized recommendations, ensuring that your stay is filled with unforgettable experiences that will make you fall in love with Los Angeles.
                <p>
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">
                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
            </div>

        </div>

        




    </div>
{{end}}

